* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Tomato: #ff6257;
  --Dark-Slate-Grey: #242742;
  --Charcoal-Grey: #36384e;
  --Grey: #9294a0;
  --White: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--Charcoal-Grey);
}

main {
  width: 375px;
  margin: 0 auto;
  height: 100vh;
  background-color: var(--White);
}

main section:nth-of-type(1) {
  background-image: url(images/illustration-sign-up-mobile.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 375px;
  border-radius: 0 0 15px 15px;
}

main .content {
  margin-top: 20px;
  padding: 0 15px;
}

main .content h1 {
  font-size: 36px;
}

main .content p {
  margin: 20px 0;
  font-size: 16px;
}

main .content ul {
  list-style-type: none;
}

main .content ul li {
  padding: 5px 0 5px 35px;
  background-image: url("images/icon-list.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 0 5px;
}

main form {
  width: inherit;
  margin: 20px 0;
  padding: 10px 0;
}

main form label {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 10px;
}

main .wrong label::before {
  content: "Valid email required";
  width: 150px;
  position: absolute;
  color: var(--Tomato);
  top: 0;
  left: 220px;
}

main form input,
main form button,
.message button {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
}

main form input {
  border: 1px solid var(--Grey);
  font-size: 16px;
  padding: 0 20px;
  margin: 5px 0 25px;
}

main form input:focus {
  outline: 1px solid var(--Dark-Slate-Grey);
}

main .wrong input {
  border: 1px solid var(--Tomato);
  background-color: #ffe8e6;
  color: var(--Tomato);
}

main .wrong input:focus {
  outline: 1px solid var(--Tomato);
}

main form button,
.message button {
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
  font-weight: bold;
  border: none;
}

.message {
  background-color: var(--White);
  width: 375px;
  height: 100vh;
  padding: 20px;
  margin: 0 auto;
  display: none;
}

.message img {
  margin: 100px 0 20px;
}

.message h1 {
  font-size: 36px;
}

.message p {
  margin-top: 20px;
  line-height: 25px;
}

.message p span {
  font-weight: bold;
}

.message button {
  width: 300px;
  position: relative;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}

button:hover {
  background-color: var(--Tomato);
  box-shadow: 2px 3px 5px 0 var(--Tomato);
}

@media (min-width: 600px) {
  main {
    padding: 15px;
    margin-top: 80px;
    border-radius: 15px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    height: 500px;
  }

  main section:nth-of-type(1) {
    width: 45%;
    order: 2;
    background-image: url(images/illustration-sign-up-desktop.svg);
    height: 100%;
    border-radius: 0 15px 15px 0;
  }

  main .content {
    width: 50%;
    order: 1;
  }

  main .content form input,
  main .content form button {
    width: 280px;
  }

  .message {
    width: 400px;
    height: 430px;
    border-radius: 20px;
    padding: 30px 40px;
    position: relative;
    transform: translateY(25%);
    display: none;
  }

  .message img {
    margin-top: 0px;
  }

  .message button {
    bottom: -20px;
    width: 100%;
  }
}

@media (min-width: 800px) {
  main {
    width: 760px;
  }
}
